.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    
}
.i-left{
    display: flex;
    position: relative;
    flex: 1;
    /* background-color: gray; */
    flex-direction: column;
    gap: 1.6rem;
    
}
.i-name{
    display: flex;
    flex-direction: column;
}



.i-right{
    display: flex;
    flex: 1;
    position: relative;
    /* background-color:  rgb(231, 201, 92); */
    
}
.i-name>:nth-child(1){
    color: black;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: orangered;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: gray;
    font-weight: 100px;
    font-size: 1rem;
    margin-top: 1rem;
}
.i-name>:nth-child(4){
    color: gray;
    font-weight: 100px;
    font-size: 1rem;
    margin-top: 1rem;
}
.i-icons{
    display: flex;
    
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*:hover{
    transform: scale(0.7);
    cursor: pointer;
}
.tech{
    z-index: 1;
}
.i-right>:nth-child(1){
    position: absolute;
    left: -10rem;
    top: 20rem;
}
.i-right>:nth-child(2){
    position: absolute;
    left: 10%;
    top: -5%;
}
.i-right>:nth-child(3){
    position: absolute;
    left: 26rem;
    top: -5%;
}
.i-right>:nth-child(4){
    position: absolute;
    
    /* left: 26rem;
    top: -5%; */
}

/* .i-right>:nth-child(2):hover{
    transform: translate(100px,10px);
    transition: 0.5s;

} */
.blur1{
    position:absolute;
    width: 32rem;
    height: 15rem;
    z-index: -1;
    border-radius: 50%;
    background-color: rgb(211, 88, 43);
    left: 72%; 
    top: 3%; 
    filter: blur(192px);
}
.blur2{
    position: absolute;
    width: 32rem;
    height: 15rem;
    z-index: -1;
    border-radius: 50%;
    background-color: #4b77b9;
    top: 60%; 
    right: 0%; 
    filter: blur(152px);
}

.i-button{
    width: 10rem;
}
@media  screen and (max-width:980px){
    .intro{
        flex-direction: column;
        height: 70rem;
    }
    .i-right{
        transform: scale(0.8);
        margin-top: 4rem;
        align-items: center;
        text-align: center;
    }
    .blur1{

       /* top: -10rem; */
       left: 0rem;
    }
    .blur2{
        top: -10rem;
        right: -10rem;
    }
    /* .i-left .blur2{
        display: none;
    }
    .i-right .blur1{
        display: none;
    } */
    .floating-div:nth-of-type(2){
        left: 20rem;
        top: -2rem;
        
    }
   
    /* .floating-div:nth-of-type(3){
        top: 20rem;
    } */

}
@media  screen and (max-width:500px){
    .i-right{
        transform: scale(0.8);
        left: -20%;
        margin-top: 4rem;
    }
}